.banner-animado{
    width: 80%;
    height: 300px;
    display: flex;
    margin: auto;

    &__item{
        flex: 1 1 30px;
        display: flex;
        background-color: rgb(77, 195, 195);
        transition: all .3s;

        &:hover{
            flex: 10 0 auto;

            & span{
                transform: none;
            }
        }

        &:nth-child(2){background-color: rgb(42, 235, 139);}

        &:nth-child(3){background-color: rgb(131, 38, 159);}

        &:nth-child(4){background-color: rgb(101, 234, 74);}

        & span{
            margin: auto;
            transform: rotate(-90deg);
            transition: all .3s;
        }

    }
}