.layout-container-grid{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 1fr 120px;
    gap: 2px;
    width: calc(100% - 4px);
}

.layout-header-grid{
    background-color: rgb(34, 208, 208);
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
        width: 80px;
        display: block;
        margin-right: 1em;
    }
    margin: 0;
}

.layout-footer-grid{
    background-color: rgb(64, 149, 64);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

.layout-main-grid{
    background-color: rgb(174, 42, 68);
    grid-column-start: 2;
    grid-column-end: 3;
}

.layout-aside-first-grid,
.layout-aside-second-grid{
    background-color: rgb(112, 45, 145);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}

.layout-aside-second-grid{
    grid-column-start: 3;
    grid-column-end: 4;
}