body {
  font-family: sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html *, html *::after, html *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.poster {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  overflow: hidden;
  position: relative;
}

.caption {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bolder;
}

.poster:hover .caption {
  top: 0;
}

.menu,
.menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.menu {
  background-color: #333;
  display: table;
  color: #eee;
}
.menu a {
  display: block;
  line-height: 2;
  padding: 0.5em 1em;
  white-space: nowrap;
}
.menu li > ul {
  display: none;
  position: absolute;
  background-color: #444;
}
.menu > li {
  float: left;
}
.menu li {
  position: relative;
}
.menu li:hover > ul {
  display: block;
}
.menu ul ul {
  top: 0;
  left: 100%;
  background-color: #222;
}

body {
  padding-bottom: 80em;
}

.nav {
  position: fixed;
  top: 0;
  height: 100vh;
  right: 0;
  background-color: #ddd;
  width: 25%;
  overflow-y: auto;
}

.ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.ul li {
  border-bottom: 1px solid #929292;
}
.ul a {
  display: block;
  line-height: 3;
  color: darkslategray;
  padding-left: 1em;
}

.container {
  margin-right: 27%;
}

.layout-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container-aside-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.container-aside-main .layout-main {
  background-color: crimson;
}
.container-aside-main [class|=layout-aside] {
  background-color: pink;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.layout-header {
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout-header img {
  width: 6em;
  display: block;
}

.layout-footer {
  background-color: goldenrod;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout-footer a {
  margin: 2em;
}

.flex-menu,
.flex-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.flex-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: whitesmoke;
  width: 50%;
}
.flex-menu a {
  display: block;
  padding: 1em;
  white-space: nowrap;
}
.flex-menu li > ul {
  background-color: #444;
  display: none;
}
.flex-menu ul li {
  position: relative;
}
.flex-menu ul ul {
  background-color: #333;
  top: 0;
  left: 100%;
}
.flex-menu li:hover > ul {
  display: block;
}

.flex-menu ul {
  position: absolute;
}

.banner-animado {
  width: 80%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.banner-animado__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30px;
          flex: 1 1 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4dc3c3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.banner-animado__item:hover {
  -webkit-box-flex: 10;
      -ms-flex: 10 0 auto;
          flex: 10 0 auto;
}
.banner-animado__item:hover span {
  -webkit-transform: none;
          transform: none;
}
.banner-animado__item:nth-child(2) {
  background-color: #2aeb8b;
}
.banner-animado__item:nth-child(3) {
  background-color: #83269f;
}
.banner-animado__item:nth-child(4) {
  background-color: #65ea4a;
}
.banner-animado__item span {
  margin: auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}