extends blocks/template
block var 
  - titulo = "Banner Animado"
block main 
  h1 Banner Animado
  .banner-animado
    .banner-animado__item: span Luffy
    .banner-animado__item: span Luffy
    .banner-animado__item: span Luffy
    .banner-animado__item: span Luffy
  
