extends blocks/template 
block var 
  - titulo = "Sphere"

block main 
  h1 Sphere
  .sphere-container 
    .circle-sphere
    .circle-sphere
    .circle-sphere
    .circle-sphere
    .circle-sphere
    .circle-sphere
    .circle-sphere
    .circle-sphere
    .circle-sphere
    
