.flex-menu,
.flex-menu ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    
    
}

.flex-menu{
    display: flex;
    background-color: #333;

    justify-content: space-around;
    color: whitesmoke;
    width: 50%;
    & a{
        display: block;
        padding: 1em;
        white-space: nowrap;
    }

    & li > ul{
        background-color: #444;
        display: none;
        
    }

    & ul li {
        position: relative;
    }

    & ul ul{
        background-color: #333;
        top: 0;
        left: 100%;
    }

    & li:hover > ul{
        display: block;
    }

}

.flex-menu ul{
    position: absolute;
}