ul.main-menu
  li.main-menu__item
    a(href="/").main-menu__link Inicio
  li.main-menu__item
    a(href="poster.html").main-menu__link Ejer. Poster
  li.main-menu__item
    a(href="menu-float1.html").main-menu__link Menu Float 1 
  li.main-menu__item
    a(href="menu-vertical.html").main-menu__link Menu Vertical
  li.main-menu__item
    a(href="layout-perfecto.html").main-menu__link Layout Perfecto
    
//- LUEGO VERE COMO LO HAGO..