.card {
  font-family: arial;
  font-size: 4em;
  text-align: center;
  color: black;
  background-color: white;
}



body{
  background-image: url(img/konachan.jpg);
  background-color: #333;
  background-size: cover;
}

.card {
  background-color: transparent;
}

.chinese{
font-family: hanzi;
}


.container{
  display: flex;

}

.box{
  border: 1px solid black;
  height: 95vh;
  width: 31vw;
  margin: 1vw;
  color: white;
  text-shadow: 0 0 6px purple;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  justify-content: flex-start;
}

.lang{
  flex-grow: 1;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.box:nth-child(even) p{
  background-color: rgba(0, 0, 0, .7);
}

.box:nth-child(odd) p{
  background-color: rgba(0, 0, 0, .6);
}

.box:nth-child(even) .lang{
  border-bottom: 3px solid rgba(255, 255, 255, .5);
  background-color: rgba(0, 0, 0, .8);
}

.box:nth-child(odd) .lang{
  border-bottom: 3px solid rgba(255, 255, 255, .6);
  background-color: rgba(0, 0, 0, .7);
}

.box:nth-child(even){
  box-shadow: 0 0 5px yellow, 0 0 5px black, 0 0 20px white, 0 0 30px purple;
}

.box:nth-child(odd){
  box-shadow: 0 0 5px yellow, 0 0 5px black, 0 0 20px white, 0 0 30px blue;
}

.term{
  flex-grow: 6;
  margin-top: 0;
  padding-top: 10%;
  margin-bottom: 0;
}

@media screen and (max-width: 400px){
  .card{
    font-size: 2rem;
  }
}

