.App{
  min-height: 100vh;
  background-color: purple;
  line-height: 1.4;
}

body{
  margin: 0;
}

main{
  display: flex;
  align-items: stretch;
}

header, footer{
  background-color: skyblue;
  padding: 2rem;
}

aside{
  background-color: limegreen;
  order: 1;
  flex: 30%;
}

section{
  flex: 70%;
  background-color: tomato;
}