.App{
  background-color: dimgray;
}

body{
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color: tomato;
  min-height: 15vh;
}

main{
  display: flex;
  align-items: stretch;
  min-height: 70vh;
}

section{
  background-color: purple;
  flex-basis: 80%;
  color: white;
}

aside{
  flex-basis: 20%;
  background-color: skyblue;
}

footer{
  min-height: 15vh;
  background-color: coral;
}


/* ejemplo suuuuper sencillo sin media query ni nada
simplemente afianzando conceptos */